/* ================= GLOBAL ================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================= BASE / GLOBAL ================= */

html,
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, #780606 40%, #f5e39c 120%);
}

/* ================= WORLD / LAYOUT ================= */

.world {
    height: 100%;
    display: flex;
    touch-action: pan-x;
    transition: transform 0.6s cubic-bezier(.22, .61, .36, 1);
}

.scene {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    container-type: inline-size;
    align-items: center;
    justify-content: center;
}

.ground {
    width: 100%;
    height: 5%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(#3b0d14, #5a1620);
}

/* ================= PLAYER ================= */

.player {
    color: #c9a44c;
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(10px, 4vw, 14px);
    width: clamp(200px, 4vw, 200px);
    height: clamp(154px, 4vw, 154px);
    position: absolute;
    display: flex;
    left: 1.5%;
    bottom: 5%;
    background: transparent;
    border: none;
    z-index: 9999;
    pointer-events: none;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    overflow: hidden;
}

.player img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    object-fit: contain;
    object-position: bottom left;
}

.player.jump {
    transform: translateY(-20px);
}

/* ================= CARD ================= */

.card {
    width: 390px;
    color: #f5e39c;
    background: #000;
    padding: clamp(26px, 4vw, 26px);
    border-radius: 16px;
    border: 2px solid #AB936B;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: popIn 0.6s ease both;
    transform-origin: center;
    container-type: inline-size;
}

.mainCard {
    padding-top: 1%;
}

/* ================= TYPOGRAPHY ================= */

h1.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 8cqw;
    margin-bottom: 14px;
}

h2.subTitle {
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(16px, 4vw, 16px);
    margin-bottom: 14px;
}

p.default {
    font-size: 4.5cqw;
    line-height: 1.6;
}

p.swipeText {
    font-size: 5.5cqw !important;
}

span.arrow {
    font-size: clamp(24px, 4vw, 24px) !important;
    line-height: 0px;
    vertical-align: middle;
    animation: blink 1s steps(1, start) infinite;
    -webkit-animation: blink 1s steps(1, start) infinite;
}

span.detailTtext {
    font-size: clamp(16px, 4vw, 16px);
}

.achievementText {
    font-family: 'Press Start 2P', cursive;
    color: #2ECC71;
    margin-top: 25px;
}

/* ================= ANIMATIONS ================= */

@keyframes popIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@-webkit-keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* ================= UI ELEMENTS ================= */

.hint {
    color: #f5e39c;
    font-size: clamp(10px, 2.8vw, 11px);
    position: fixed;
    top: 14px;
    right: 14px;
    background: rgba(43, 15, 20, 0.85);
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #c9a44c;
    z-index: 10;
    transform-origin: top right;
}

.dress-colors {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
}

.color-circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #000;
}

/* .qr-code {
    margin-right: 2.5%;
    border: 2px solid #AB936B;
    border-radius: 16px;
    display: none;
} */

/* ================= RSVP FORM ================= */

.rsvp-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

/* .rsvp-form input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
} */

.search-box {
    position: relative;
    width: 100%;
}

#name-input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #AB936B;
    background: #000;
    color: #f5e39c;
    outline: none;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #000;
    border: 1px solid #AB936B;
    border-radius: 12px;
    overflow: hidden;
    z-index: 9999;
    max-height: 200px;
    overflow-y: auto;
}

.item {
    padding: 12px;
    cursor: pointer;
    color: #f5e39c;
    transition: 0.2s;
}

.item:hover {
    background: rgba(255,255,255,0.1);
}

.question {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.option-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.15s ease;
}

.option input {
    /* transform: scale(1.2); */
    display: none;
}

.option span {
    font-size: 5cqw;
    width: 90%;
    padding: 3cqw;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.05);
    color: #f5e39c;
    text-align: center;
    border: 1cqw solid rgba(171, 147, 107, 0.4);
    transition: all 0.25s ease;
}

.option:hover span {
    transform: scale(1.02);
    border-color: #c9a44c;
}

.option input:checked + span {
    background: #f5e39c;
    color: #000;
    border-color: #f5e39c;
    box-shadow: 0 0 12px rgba(245, 227, 156, 0.4);
    transform: scale(1.05);
}

.option:active span {
    transform: scale(0.98);
}

.rsvp-form button, .url-btn {
    background: #c9a44c;
    color: #000;
    font-size: 5cqw;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

#status {
    display: none;
    color: #00ff99;
    font-size: 14px;
    margin-top: 10px;
}

/* ================= MEDIA QUERIES ================= */

@media (max-width: 768px) {
    .player {
        display: flex !important;
        opacity: 1 !important;
        transform: translateZ(0);
    }
}

@media (orientation: portrait) {
    .scene {
        flex-direction: column;
    }

    /* .qr-code {
        margin-right: 0%;
        margin-bottom: 35%;
    } */
}

@media (orientation: landscape) {
    .scene {
        flex-direction: row;
    }

    .player img {
        width: 70%;
        height: 70%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1280px) and (min-device-height: 600px) and (orientation: portrait) {
    /* .qr-code {
        margin-bottom: 0%;
        margin-top: 10%;
    } */
}

@media screen and (min-width: 600px) and (max-width: 1280px) and (min-device-height: 600px) and (orientation: landscape) {
    .player img {
        width: 100%;
        height: 100%;
    }

    /* .qr-code {
        margin-left: 15%;
        margin-right: -7.5%;
    } */
}

@media screen and (min-width: 1024px) {
    .scene {
        transform: scale(1.5);
    }
}